@import url('http://fonts.googlepis.com?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #131212;
    --second-bg-color: rgb(23, 47, 60);
    --text-color:white;
    --main-color:#6feeeef6;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;

}

body{
    
    background: var(--second-bg-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky{
    background-color: var(--second-bg-color);
}
.logo{
    font-size: 2.5rem;
    color:var(--text-color);
    font-weight: 600;
}
.navbar a{
    font-size: 1.7rem;
    color:var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;

}
.navbar a:hover,
.navbar a:active{
    color: var(--bg-color);
}
#menu-icon{
    font-size: 3.5rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    color: var(--text-color);
    background-image: url('rohith-img_copy.jpg') ;
    
    background-position: top right ;

}
.home-content{
    max-width: 60rem;
    

}
.home-content h1{
    font-size: 37px;
    
}   
.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animate h3{

    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--text-color);
}
.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}
.btn-boxs{
    position: relative;
    display: flex;
    width: 34.5rem;
    height: 5rem;
 
}
.btn-boxs .btn{
    padding: 15px 40px;
    /* border: none; */
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: .1rem;
    display: inline-flex;
    align-items: center;
    
    /* position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background: var(--bg-color);
    color: var(--text-color);
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    overflow: hidden;
    z-index: 1; */
}
.btn-boxs .btn::after{
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(101, 99, 99);
    /* border: 1px solid black; */
    left: 0;
    top: 0;
    border-radius: 5px;
}

.btn-boxs .btn ::before{
    content: '';
    background: linear-gradient(
        45deg,
        #ff0000,#ff8700,#ffd300,#48ff00,
        #00ffd5,#002bff,#ff00c8,#550527
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100%  + 4px);
    height: calc(100%  + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    animation: glowing 20s linear infinite;
    border-radius: 5px;
    opacity: 0;
    
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

 .btn:hover::before{
    opacity: 1;

}
 .btn:active:after{
    background: transparent;
}
 .btn:active {
    color: var(--bg-color);
    font-size: bold;
}
/* .home-imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 53%;
    height: 100%;
    background: transparent;
    transition: 3s;
}
.home-imgHover:hover{
    background: var(--bg-color);
    opacity: .8;
} */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}
.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--text-color);
}
.heading span{
    color: var(--bg-color);
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
} 
.about-content{
    text-align: center;
    
}
.about-content h3{
    font-size: 25px;
    color: var(--text-color);
    
}
.about-content p{
    font-size: 15px;
    margin: 2rem 0 3rem;
    color: var(--text-color);
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: center;
    width: 36.5rem;
    height: 5rem;
    margin-left:430px;

}
.btn-box .btn-read{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--bg-color);
    border: .2rem solid var(--bg-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--text-color );
    z-index: 1;
    overflow: hidden;

}
.btn-box .btn-read::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background: var(--second-bg-color);
    transition: .5s;
}
.btn-box .btn-read:hover::before{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    
}
.padd-15{
    padding-left: 20px;
    padding-right: 20px;
}
.about .about-content .extra .personal-info{
    flex: 0 0 50%;
    max-width: 60%;
    margin-left: 300px;
    display: inline;
    
}

.about .about-content .personal-info .info-item{
    flex: 0 0  50%;
    max-width: 35%;
    margin-left: 150px
}
.about .about-content .personal-info .info-item1{
    max-width: 35%;
    flex: 0 0  50%;
    margin-left: 150px
}
.about .about-content .personal-info .info-item li{
    font-weight: 600;
    padding: 10px 0 ;
    font-size: 16px;
    color: var(--text-color);
    border-bottom: 1px solid #f50057;
    list-style-type: none;

}
.about .about-content .personal-info .info-item1 li{
    font-weight: 600;
    padding: 10px 0 ;
    font-size: 16px;
    color: var(--text-color);
    border-bottom: 1px solid #f50057;
    list-style-type: none;

}
.about .about-content .personal-info .info-item li span,.info-item1 li span{
    font-weight: 400;
    color: var(--text-color);
    margin-left: 4px;
    display: inline-block;
}
.extra{
    display: none;
}
input[type="checkbox"]{
    height: 2em;
    display: block;
    appearance: none;

}
.label1{
    position: relative;
    padding: 15px;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 5px ;
    height: 55px;
    width: 25px;
}
.label1:before{
    content: "Read More";
    font-size: 15px;
    padding: 20px;
    

}

input[type="checkbox"]:checked ~ .label1:before {
    content: "Read Less";
    font-size: 15px;
}
.extra:has(~ input[type="checkbox"]:checked){
    display: inline;
}


/* eduction css */

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    
    background: var(--second-bg-color);
}
.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-column .experience{
    margin-top: 50px;
}
.education .education-column{
    flex: 1 1 40rem;
}
.education-row .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 55rem;
    color: var(--text-color);
}
.education-column .education-box{
    padding: 0px 30px;
    border-left: .1rem solid #f50057;
}
/* .education-box .education-content{
    position: relative;
    padding-left: 2rem;
} */
/* .education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid purple;
    border-radius: .6rem;
    margin-bottom: 2rem;
} */
.education-box .education-content .content{
    position: relative;
    padding: 1.5rem;
	padding-left: 2rem;
	border: 1px solid #f50057;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
    color: var(--text-color);
    border-radius: .6rem;
}
.education-box .education-content .content:hover{
    box-shadow: 0px 3px 12px 0px var(--main-color);
	
}
.education-box .education-content .content::before{
    content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	right: calc(100% + 25px);
	top: 0;
	background-color: var(--main-color);
	border: 2px solid var(--main-color);
}
.education-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
    
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 15px;
}
.education-content .content h4{
    font-size: 13px;
}
.education-content .content h6{
    font-size: 13px;
}
.education-content .content ul{
    font-size: 12px;
    padding-top: .5rem;
    margin-left: 15px;
}
.education-content .content ul li{
    font-size: 12px;
}



.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    background: var(--second-bg-color);
}
.skills .skill-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-left: 200px;
}
.skills .skill-column{
    flex: 1 1 40rem;
    
}
.list {
  position: relative;
  flex: 0 0 50%;
 
}
.list h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.list ul {
  position: relative;
}
.list ul li {
    font-size: 20px;
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #f50057;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li:hover span {
  color: #111;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}



/* contact css  */
/* .contact{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 8%;
    background: var(--second-bg-color);
} */
.contact .row{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}
.row .col{
	display: flex;
	flex-direction: column;
}
.row .left{
	flex-basis: 35%;
	min-width: 320px;
	margin-right: 60px;
}
.row .right{
	flex-basis: 60%;
}
.left .contactTitle h2{
	position: relative;
	font-size: 28px;
	color: #f1eff0;
	display: inline-block;
	margin-bottom: 25px;
}
.left .contactTitle h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: var(--bg-color);
	top: 120%;
	left: 0;
}
.left .contactTitle h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	background-color: #f50057;
	top: calc(120% - 1px);
	left: 0;
}
.left .contactTitle p{
	font-size: 17px;
	color: #ccc;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-bottom: 22px;
}
.left .contactInfo{
	margin-bottom: 16px;
}
.contactInfo .iconGroup{
	display: flex;
	align-items: center;
	margin: 25px 0px;
}
.iconGroup .icon{
	width: 45px;
	height: 45px;
	border: 2px solid #f50057;
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}
.iconGroup .icon i{
	font-size: 20px;
	color: #ddd;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.iconGroup .details span{
	display: block;
	color: #888;
	font-size: 18px;
}
.iconGroup .details span:nth-child(1){
	text-transform: uppercase;
	color: #ccc;
}
.left .socialMedia{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 22px 0px 20px;
}
.socialMedia a{
	width: 35px;
	height: 35px;
	text-decoration: none;
	text-align: center;
	margin-right: 15px;
	border-radius: 5px;
	background-color: #f50057;
	transition: 0.4s;
}
.socialMedia a i{
	color: #ddd;
	font-size: 18px;
	line-height: 35px;
	border: 1px solid transparent;
	transition-delay: 0.4s;
}
.socialMedia a:hover{
	transform: translateY(-5px);
	background-color: var(--second-bg-color);
	color: #f50057;
	border: 1px solid #f50057;
}
.socialMedia a:hover i{
	color: #f50057;
}

/* Code for the right section (column) */

.row .right .messageForm{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
.row .right .inputGroup{
	margin: 18px 0px;
	position: relative;
}
.messageForm .halfWidth{
	flex-basis: 48%;
}
.messageForm .fullWidth{
	flex-basis: 100%;
}
.messageForm input, .messageForm textarea{
	width: 100%;
	font-size: 18px;
	padding: 2px 0px;
	background-color: var(--second-bg-color);
	color: #ddd;
	border: none;
	border-bottom: 2px solid #666;
	outline: none;
}
.messageForm textarea{
	resize: none;
	height: 220px;
	display: block;
}
textarea::-webkit-scrollbar{
	width: 5px;
}
textarea::-webkit-scrollbar-track{
	background-color: var(--second-bg-color);
	border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb{
	background-color: #f50057;
	border-radius: 15px;
}
.inputGroup label{
	position: absolute;
	left: 0;
	bottom: 4px;
	color: #888;
	font-size: 18px;
	transition: 0.4s;
	pointer-events: none;
}
.inputGroup:nth-child(4) label{
	top: 2px;
}
.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label
{
	transform: translateY(-30px);
	font-size: 16px;
}
.inputGroup button{
	padding: 8px 16px;
	font-size: 18px;
	background-color: #f50057;
	color: #ddd;
	border: 1px solid transparent;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}
.inputGroup button:hover{
	background-color: #2e2e2e;
	color: #f50057;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid #f50057;
}
@media(max-width: 1100px){
	.messageForm .halfWidth{
		flex-basis: 100%;
	}
    html{
        font-size: 55%;
    }
}
@media(max-width: 900px){
	.container .row{
		flex-wrap: wrap;
	}
	.row section.left, .row section.right{
		flex-basis: 100%;
		margin: 0px;
	}
    .header{
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%
    }
    .footer{
     padding: 2rem 4%;
    }
}
@media(max-width:768px){
    .header{
        background-color: var(--bg-color);
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position:absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background-color: var(--second-bg-color);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
        transition: .25s ease;
        transition-delay: .25s;
    }
    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}